[Desktop Entry]
Version=1.0
Type=Application
Exec=firefox https://webwormhole.com/
Terminal=false
X-MultipleArgs=false
Icon=/home/ubuntu/webwormhole.png
StartupWMClass=firefox
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
Name=Webwormhole